.counter {
    width: 100%;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}
.counter h1 {
    color: rgb(4, 19, 180);
    text-align: center;
}
.counter h2 {
    font-size: 40px;
    text-align: center;
}
.btnContainer {
    justify-content: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
}
.counterButton {
    font-size: 30px;
    padding: 10px,20px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid ;
    cursor: pointer;
    transition: 0.25 ease-in-out;
    border-radius: 10px;
}
.counterButton:hover {
    color: rgb(22, 32, 214);
}